name: CI

on:
  push:
    branches: main
    paths:
      - 'VERSION'

jobs:

  release:
    runs-on: ubuntu-slim
    permissions:
      contents: write
      actions: read
    steps:
      - uses: actions/checkout@v6
      - run: echo "version=$(cat VERSION)" >> "$GITHUB_OUTPUT"
        id: version
      - uses: actions/create-release@v1
        id: create_release
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          tag_name: v${{ steps.version.outputs.version }}
          release_name: v${{ steps.version.outputs.version }}
          draft: false
          prerelease: false
